*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: rgb(243, 238, 214);
  font-family: Arial, Helvetica, sans-serif;
}
.upper {
  margin-bottom: 2rem;
}
.heading {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.para1 {
  text-align: center;
  font-size: 2rem;
}
.measure {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.para {
  font-weight: 600;
  font-size: 1.4rem;
  
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */

  margin-bottom: 10px;
  margin-right: 10px;
}
.now {
  margin: 0; /* Reset default margin */
  padding: 0;
  font-size: 5rem;
  font-weight: 800;
  margin-right: 10px;
}
.Low,
.Medium,
.High,
.Extreme {
  margin-top: 1.3rem;
  height: 2.5rem;
  width: 10rem;
  background-color: #51B94A;
  border: 2px solid black;
  font-size: 1.7rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  border-radius: 6px;
}
.Medium {
  background-color: #EFEA2E;
}
.High {
  background-color:#F7971F;
}
.Extreme {
  background-color: #7E53A2;
}
.week {
  
  margin-left: 2rem;
}
.days {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}
.day1,
.day2,
.day3,
.day4,
.day5,
.day6,
.day7 {
  height: 7rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}


.reminder {
  margin-top: 1.7rem;
}
.reminder1,
.reminder2 {
  display: inline-block;
  font-size: 2em;
}
input[type="checkbox"] {
  width: 4rem;
  height: 1.7rem;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.label {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.low {
  background-image: url("./Asset/green.png");
  background-size: cover;
  background-position: center;
 
}
.moderate {
  background-image: url("./Asset/medium-removebg-preview\ \(1\).png");
  background-size: cover;
  background-position: center;
}

.high {
  background-image: url("./Asset/high.png");
  background-size: cover;
  background-position: center;
}

.very-high {
  background-image: url("./Asset/newextreme.png");
  background-size: cover;
  background-position: center;
}

.current-uv-index {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
.inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.my-popup {
  background-color: #f8f9fa;
  border-radius: 10px;
}

.my-title {
  color: #343a40;
  font-size: 30px;
}

.fore{
  font-size: 2rem;
 
}



